*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url(assets/images/Background_Netflix.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px ,100vw);
    height:95vh ;
    position: relative;
}
.main .box{
    height:95vh;
    width: 100%;
    opacity: 0.770;
    background-color: rgb(5, 5, 5);
    position: absolute;
    top: 0;
    z-index: 1;}

nav{
    display: flex;
    position: relative;  
    z-index: 10;          
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
nav button{
    background-color: red; 
    color: white;
    position: relative; 
    z-index: 10;
    border: none;
    padding: 6px 14px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.hero{
    height:calc(100% - 80px) ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    gap: 23px;
    padding:0 30px;
}
.heroSpan:nth-child(1){
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}
span:nth-child(2){
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
span:nth-child(3){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.hero input{
    background-color:rgb(50, 48, 48);
    color: white;
    font-size: x-large;
    padding-left: 9px;
    border-color: white;
    height: 55px;
    width: 250px;
    font-weight: bold;
    position: relative; 
    z-index: 10;
}
.hero button{
    background-color:rgb(247, 5, 5);
    color: white;
    font-weight: bolder;
    font-size:15px;
    border:15px solid red;
    padding: 9px;
    height: 60px;
    width: 150px;
    position: relative; 
    z-index: 10;
}
.line{
    background-color: grey;
    height: 11px;
}
.body{
    height: 80px;
    width: 100%;
    background-color: rgb(6, 6, 6);
    font-size: 30px;
    color: white;
}

.picture{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    position: relative;
   
}
.picture img{
    border-radius: 10px;
}
.imgBlock{
    color: rgb(9, 9, 9);
    -webkit-text-stroke: 3px white;
    position: absolute;
    top: 190px ;
    font-weight: bolder;
    font-size: xx-large;
}
.card:hover img {
    transform: scale(1.07);
    transition: 0.2s;
}
.heading{
    font-size: x-large;
    
}
.res{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid blue;
    padding: 10px 90px;
    gap: 10px;

}
.reaBox{
    font-size: large;
    height: 200px;
    width: 300px;
    background-color: rgb(130, 102, 102);
    gap: 10px;
}
